@CHARSET "UTF-8";


#add_content{
	position: fixed;
	z-index : 100;
	right: 50px;
	width: 280px;
}


header,footer,section{
	border: 1px solid black;
}

.container {
	position: relative;
	margin: 0px auto;
	width: 790px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	background-color: #5b6ce1;
	width: 100%;
	z-index: 10;
	
}




section {
	/* position is static by default */
	position: relative;
	left : 0px;
	width : 480px;
	z-index :1;
	padding: 0px;
	
	
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 70px;
	background-color: white;
	width: 100%;
	z-index: 10;
}

body {
	margin-top : 72px;
	margin-bottom: 72px;
	

}






















